body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

button {
  background-color: #642DCE;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#messageBox {
  margin-top: 20px;
  padding: 20px;
  background-color: white; /* Change background color to white */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


#messageInput {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#messageContainer {
  margin-top: 20px; /* Add margin between the sorry box and the text */
}

.hidden {
  display: none;
}
